<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Game Analyzer</title>
    <link rel="stylesheet" href="/static/analysis_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="/static/logo.png" alt="Knight Vision Logo" class="logo">
            <h2>Knight Vision</h2>
        </div>
    </header>
    {% if not win_data %}
    <div class="container" id = "input_cont">
        <h1>Chess Game Analyzer</h1>

        <!-- Upload Section -->
        <form id="upload-form" action="/payment" method="post" enctype="multipart/form-data">
            <div class="drop-area" id="drop-area-win">
                <p>Drag & Drop win PGN file here, or click to select</p>
                <input type="file" id="win" name="win" accept=".pgn" style="display: none;" required>
                <span class="file-name" id="file-name-win"></span>
            </div>

            <div class="drop-area" id="drop-area-loss">
                <p>Drag & Drop loss PGN file here, or click to select</p>
                <input type="file" id="loss" name="loss" accept=".pgn" style="display: none;" required>
                <span class="file-name" id="file-name-loss"></span>
            </div>

            <input type="submit" value="Proceed" id="proceed" disabled>
            <div class="error-message" id="error-message"></div>
        </form>
    </div>
    {% endif %}
    <!-- Chess Game Analysis Section -->
     {% if player_data %}
     <div class="container" id = "playerinfo">
        <div class="grid-container">
            
                <h3>Player Name: {{ player_data["username"] }}</h3>

                <h3>Rating: {{ player_data["bullet_rating"] }}</h3>
            
        </div>  
     </div>
     
     {% endif %}
     {% if not player_data and paid %}
     <div class="container" id = "playerinfo">
        <div class="grid-container">
            <div class="grid-item">
                <span>Player Name: {{username}}</span>
            </div>
        </div>  
     </div>
     
     {% endif %}
     {% if prediction %}
        <div class="container" id = "prediction">
            <h1>Next Game Prediction</h1>
            <div>
                
                    <h3>Win Probability as White: {{ prediction[0] }}</h3>
                
                    <br>

                    <h3>Win Probability as Black: {{ prediction[1] }}</h3>
                
            </div>
            </div>

        {% endif %}
     {% if win_data %}
    <div class="container" id = "win_cont">
        <h1>Win Game Analysis</h1>
        <div class="grid-container">
            <div class="grid-item">
                <i class="fas fa-chess"></i>
                <span>Total Moves: {{ win_data['total_moves'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-pawn"></i>
                <span>Opening Moves: {{ win_data['opening_moves'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-knight"></i>
                <span>Midgame Moves: {{ win_data['midgame_moves'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-queen"></i>
                <span>Endgame Moves: {{ win_data['endgame_moves'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-bullseye"></i>
                <span>Tactical Opportunities: {{ win_data['tactical_opportunities'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-king"></i>
                <span>Checkmate Threats: {{ win_data['checkmate_threats'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-users"></i>
                <span>Piece Coordination: {{ win_data['piece_coordination'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-board"></i>
                <span>Weak Squares: {{ win_data['weak_squares'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-pawn"></i>
                <span>Passed Pawns: {{ win_data['passed_pawns'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-shield-alt"></i>
                <span>King Safety: {{ win_data['king_safety'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-balance-scale"></i>
                <span>Material Balance: {{ win_data['material_balance'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-cogs"></i>
                <span>Development: {{ win_data['development'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-map"></i>
                <span>Space Control: {{ win_data['space_control'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-pawn"></i>
                <span>Pawn Weaknesses: {{ win_data['pawn_weaknesses'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-bishop"></i>
                <span>Captures: {{ win_data['captures'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-rook"></i>
                <span>Checks: {{ win_data['checks'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-crown"></i>
                <span>Castles: {{ win_data['castles'] }}</span>
            </div>
        </div>
    </div>
    {% endif %}
    <br>
    {% if loss_data %}
    <div class="container" id = "loss_cont">
        <h1>Loss Game Analysis</h1>
        <div class="grid-container">
            <div class="grid-item">
                <i class="fas fa-chess"></i>
                <span>Total Moves: {{ loss_data['total_moves'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-pawn"></i>
                <span>Opening Moves: {{ loss_data['opening_moves'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-knight"></i>
                <span>Midgame Moves: {{ loss_data['midgame_moves'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-queen"></i>
                <span>Endgame Moves: {{ loss_data['endgame_moves'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-bullseye"></i>
                <span>Tactical Opportunities: {{ loss_data['tactical_opportunities'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-king"></i>
                <span>Checkmate Threats: {{ loss_data['checkmate_threats'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-users"></i>
                <span>Piece Coordination: {{ loss_data['piece_coordination'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-board"></i>
                <span>Weak Squares: {{ loss_data['weak_squares'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-pawn"></i>
                <span>Passed Pawns: {{ loss_data['passed_pawns'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-shield-alt"></i>
                <span>King Safety: {{ loss_data['king_safety'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-balance-scale"></i>
                <span>Material Balance: {{ loss_data['material_balance'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-cogs"></i>
                <span>Development: {{ loss_data['development'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-map"></i>
                <span>Space Control: {{ loss_data['space_control'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-pawn"></i>
                <span>Pawn Weaknesses: {{ loss_data['pawn_weaknesses'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-bishop"></i>
                <span>Captures: {{ loss_data['captures'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-chess-rook"></i>
                <span>Checks: {{ loss_data['checks'] }}</span>
            </div>
            <div class="grid-item">
                <i class="fas fa-crown"></i>
                <span>Castles: {{ loss_data['castles'] }}</span>
            </div>
        </div>
    </div>
    <a href="/"><input type="reset" value="Reset" id="resetbutton"></a>
    {% endif %}
    <script src = "/static/scripts.js"></script>
</body>

</html>
